body {
  font-family: Segoe UI;
}

h1 {
  color: #ffffff;
  font-size: 2.5em;
  line-height: 1.05em;
}

h2 {
  color: #0074D9;
  font-size: 2em;
  line-height: 1.05em;
}

h3 {
  color: #0074D9;
}

p {}

.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-bg {
  background-color: #C5CAE9;
}

.upload-bg {

}

.upload-section-left {

}

.upload-section-right{

}

.customize-section-left {
  
}

.customize-section-right{
  
}
