body {
  font-family: Segoe UI;
}

h1 {
  line-height: 1.05em;
}

h2 {
  line-height: 1.05em;
}

h3 {}

p {}

.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 30px;
}

.header-section {
  background-color: #C5CAE9;
}

.upload-header {
  background-color: #80CBC4;
}

.upload-section {
  background-color: #B2DFDB;
}

.upload-section-left {}

.upload-section-right {}

.customize-header {
  background-color: #81D4FA;
}

.customize-section {
  background-color: #B3E5FC;
}

.customize-section-left {}

.customize-section-right {}

.preview-header {
  background-color: #FFE082;
}

.preview-section {
  background-color: #FFECB3;
}

.copy-header {
  background-color: #EF9A9A;
}

.copy-section {
  background-color: #FFCDD2;
}
